
VERSION=1
SECRET_KEY=django-insecure-^)d!y+c0o*&)*&#ix+kq6^3)brhut=l7ng@imh#8t8_o+!o#$8
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

ACCESS_TOKEN_LIFETIME=1
REFRESH_TOKEN_LIFETIME=48

DB_ENGINE=django.db.backends.postgresql
DB_NAME=volley_pro
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIST_URL=redis://localhost:6379

# EMAIL_HOST_USER=your_email@yandex.ru
# EMAIL_HOST_PASSWORD=your_app_password_here

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_URL=redis://localhost:6379/0

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=habit_tracker
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

CORS_ALLOWED_ORIGINS=https://localhost:3000,https://127.0.0.1:3000,http://localhost:8080,http://127.0.0.1:8000